<h1>Show Draft user</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.draft_user_path(@conn, :edit, @draft_user) %></span> |
<span><%= link "Back", to: Routes.draft_user_path(@conn, :index) %></span>
