<h1>Show User favorite</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.user_favorite_path(@conn, :edit, @user_favorite) %></span> |
<span><%= link "Back", to: Routes.user_favorite_path(@conn, :index) %></span>
