<h1>Show Reflection</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.reflection_path(@conn, :edit, @reflection) %></span> |
<span><%= link "Back", to: Routes.reflection_path(@conn, :index) %></span>
