<div class="py-14 flex flex-col items-center">
    <div class="text-2xl text-primary mb-2 text-center">Categorize and scope decisions to better understand what they are and their impact.</div>

    <img class="w-10/12 sm:w-5/12 my-12 object-center rounded-md shadow-xl ring-1 ring-primary ring-opacity-5" src="/images/sample_decision_one.png" alt="">
</div>
