<div class="py-14 bg-white flex flex-col items-center text-center">
    <div class="text-4xl text-primary mb-2 text-center">Get Started For Free With A 30 Day Trial </div>
    <div class="mt-2 w-10/12 lg:w-6/12">
        Your subscription is billed monthly. You can cancel anytime for any reason. We charge by user seats on your account. You can update your user seats anytime.
    </div>
    <div class="text-dark-grey text-lg font-bold text-center my-8">Select how many users you'll need</div>

    <%= render "sections/usersize_form.html", conn: @conn %> 
</div>