<!DOCTYPE html>
<html lang="en" id="root" class="light font-['Poppins']">
  <head>
    <script>
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          document.documentElement.classList.remove("light");
          document.documentElement.classList.add("dark");
      } else {
          document.documentElement.classList.remove("dark");
          document.documentElement.classList.add("light");
      }
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hindsight", suffix: "" %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script defer src="https://unpkg.com/@alpinejs/ui@3.10.3-beta.0/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/focus@3.10.3/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    <script>
      window.op = window.op||function(...args){(window.op.q=window.op.q||[]).push(args);};
      window.op('init', {
        clientId: '4340f241-d5a0-47d7-8a2c-64c4930cf92f',
        trackScreenViews: true,
        trackOutgoingLinks: true,
        trackAttributes: true,
      });
    </script>
    
    <%= unless Pow.Plug.current_user(@conn) do %>
      <script src="https://openpanel.dev/op1.js" defer async></script>
      <link rel="stylesheet" href="https://unpkg.com/css-only-tooltip@latest/dist/styles.min.css">
    <% end %>
  </head>
    <%= if Pow.Plug.current_user(@conn) do %>
      <%= if String.contains?(assigns.conn.request_path, ["/welcome", "/paused", "/trial_expired"]) do %>
        <body class="marketing flex flex-col bg-white dark:bg-slate font-poppins">
          <%= render "welcome_navigation.html", Map.merge(@conn.assigns, %{conn: @conn}) %>
          <%= @inner_content %>
        </body>
      <% else %>
        <body class="flex flex-row dark:bg-slate font-poppins ">
          <%= render "navigation.html", Map.merge(@conn.assigns, %{conn: @conn}) %>
          <div class="overflow-auto w-full">
            <%= @inner_content %>
          </div>
        </body>
      <% end %>
    <% else %>
      <body class="marketing flex flex-col bg-white dark:bg-slate font-poppins">
          <%= render "marketing_navigation.html", Map.merge(@conn.assigns, %{conn: @conn}) %>
          <div class="flex flex-col items-center justify-start">
            <p class="text-blue" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="text-red" role="alert"><%= get_flash(@conn, :error) %></p>
          </div>
          <%= @inner_content %>
      </body>
    <% end %>
</html>
