<div class="text-2xl font-bold dark:text-white">All Records</div>
<div class="text-base text-grey mt-1"><%= Enum.count(@records_count) %></div>

<%= for record_section <- @records do %>
  <%= render HistoraWeb.ComponentView, "record_section.html", conn: @conn, record_section: record_section, header: record_section.date %>
<% end %>

