<div class="px-16 flex flex-row justify-between content-center mt-5">
  <div class="">
    <%= link to: Routes.marketing_path(@conn, :index) do %> 
      <h4 class="text-3xl font-bold text-primary">Histora</h4>
    <% end %>
  </div>
  
  <div class="dark:text-white">
    <%= link "Sign in", to: Routes.login_path(@conn, :new) %>
  </div>
</div>