
<div class="flex flex-row justify-between content-center">
  <div class="">
    <h4 class="text-3xl font-bold text-primary">Histora</h4>
  </div>
  
  <div class="">
    <%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %>
  </div>
</div>