<!DOCTYPE html>
<html lang="en" id="root" class="light font-['Poppins']">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Histora", suffix: " · Phoenix Framework" %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5VFPTN6XMY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5VFPTN6XMY');
    </script>
  </head>
    <%= if Pow.Plug.current_user(@conn) do %>
      <body class="mr-0.5 ml-0.5 flex flex-row bg-white dark:bg-slate font-poppins">
        <%= render "navigation.html", Map.merge(@conn.assigns, %{conn: @conn}) %>
        <%= render "inner_navigation.html", Map.merge(@conn.assigns, %{conn: @conn}) %>

        <div class="container mx-10">
          <%= if assigns.conn.request_path != "/" do %>
            <%= render "action_bar.html", Map.merge(@conn.assigns, %{conn: @conn}) %>
          <% end %>
          <%= @inner_content %>
        </div>

      </body>
    <% else %>
      <body class="marketing flex flex-col bg-white dark:bg-slate font-poppins">
          <%= render "marketing_navigation.html", Map.merge(@conn.assigns, %{conn: @conn}) %>
          <div class="flex flex-col items-center justify-start">
            <p class="text-blue" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="text-red" role="alert"><%= get_flash(@conn, :error) %></p>
          </div>
          <%= @inner_content %>
      </body>
    <% end %>
</html>
