<html>
  <head>
  </head>
  <body>
    <div class="container">
        <h4>Welcome to Histora</h4>
        <p>We are excited to help you and your company draft, record, and reflect on important impactful decisions</p>
        <p>You have a 30 day free trial to make sure Histora is the right fit for you</p>
        <p>Visit our help center if you have any issues or questions and dont hesitate to reach out, we are always happy to help</p>
        <p>Clicking the link below to set your password and create your organization</p>
        <a href={@url}>Get Started</a>
    </div>
  </body>
</html>