<html>
  <head>
  </head>
  <body>
    <div class="container">
        <h4>Welcome to Histora</h4>
        <p>Get Started by clicking this link to set your password</p>
        <a href={@url}>Set Password</a>
        {@url}
    </div>
  </body>
</html>