<html>
  <head>
  </head>
  <body>
    <div class="container">
        <h4>Join <%= @organization.name %> on Histora</h4>
        <p><%= @invited_by %> sent you an invite to join their team.</p>
        <p> Histora helps companies draft, record, and reflect in impactfull decisions made at every level </p>
        <p> Get started by clicking the link below</p>
        <a href={@url}>Join Team</a>
    </div>
  </body>
</html>