<html>
  <head>
  </head>
  <body>
    <div class="container">
        <h4>Join <%= @organization.name %> on Histora</h4>
        <p><%= @invited_by %> sent you an invite to join their team.</p>
        <p> Helps your business make better decisions by knowing what works.</p>
        <br>
        <p>With Histora, keep up to date with what impactful decisions are happening, record your own deicions, schedule and make reflections, and even request approval for needed decisions. </p>
        <br>
        <p> Get started by clicking the link below</p>
        <a style="color: blue;" href={@url}>Join Team</a>
    </div>
  </body>
</html>
