<html>
  <head>
  </head>
  <body>
    <div class="container">
        <h3>We hope you and the <%= @organization.name %> team enjoyed your 30 day trial of Histora</h3>
        <p>To continue using Histora, login and pick a plan that best fits your needs.</p>
        <a href={"www.histora.app/session/new"}>Login</a>
        <br>
        <br>
        <p>If you have any feedback or have any questions please reply to this email and let us know</p>
        <p>Thank you!</p>
        <p>Histora Team</p>
    </div>
  </body>
</html>
