<h1>Show Draft vote</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.draft_vote_path(@conn, :edit, @draft_vote) %></span> |
<span><%= link "Back", to: Routes.draft_vote_path(@conn, :index) %></span>
